:root {
    /* colors */
    --clr-blue-200: hsl(225, 100%, 94%);
    --clr-blue-400: hsl(245, 75%, 52%);
    --clr-blue-400a: hsla(245, 75%, 52%, 0.75);

    --clr-blue-100: hsl(225, 100%, 98%);
    --clr-blue-500: hsl(224, 23%, 55%);
    --clr-blue-800: hsl(223, 47%, 23%);

    --clr-white-100: hsl(0, 0%, 100%);

    /* components */
    --clr-body-bg: var(--clr-blue-200);
    --clr-card-bg: var(--clr-white-100);
    --clr-card-accent: var(--clr-blue-100);
    --clr-card-btn: var(--clr-blue-400);

    --clr-text-primary: var(--clr-blue-500);
    --clr-heading-primary: var(--clr-blue-800);

    /* font size */
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 1.75rem;

    /* font weight */
    --fw-regular: 500;
    --fw-semi-bold: 700;
    --fw-bold: 900;

}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    background-color: var(--clr-body-bg);
    color: var(--clr-text-primary);
    font-family: 'Red Hat Display', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.6;
    text-align: center;

    display: grid;
    place-content: center;
}

.card {
    /* background-color: var(--clr-card-bg); */
    max-width: 28.125rem;
    border-radius: 1rem;
    overflow: hidden;
    /* margin: 0 1.5rem; */
}

.card__content {
    display: grid;
    background-color: var(--clr-card-bg);
    padding: 2.625rem 3rem;
}

.card__content>*+* {
    margin-top: 0.875rem;
}

.card__title {
    color: var(--clr-heading-primary);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.plan {
    display: flex;
    background-color: var(--clr-card-accent);
    gap: 1rem;
    padding: 1.5rem;
    text-align: start;
}

.plan__details>p:first-child {
    color: var(--clr-heading-primary);
    font-weight: var(--fw-bold);
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 0.5rem;
    font-weight: var(--fw-semi-bold);
    padding: 0.75em 2em;
    text-decoration: none;
}

.btn-submit {
    color: var(--clr-white-100);
    background-color: var(--clr-card-btn);
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: var(--clr-blue-400a);
}

.btn-cancel {
    color: var(--clr-text-primary);
}

.btn-cancel:hover,
.btn-cancel:focus {
    color: var(--clr-heading-primary);
}